!!!
%html
  %head
    %title Out There
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrapper
      %header
        %h1#logo= link_to 'Out There', '/'
        %nav
          %ul
            %li= link_to 'Ideas', '#/index', class: 'button'
            %li= link_to 'Submit', '#/new', class: 'button'
      = yield
